{% extends "layouts/layout.html" %}
{% block page_title %}Flask prototyping index{% endblock %}
{%- from "components/hero/macro.jinja" import appHero -%}

{% block breadcrumbs %}{% endblock %}

{% block header %}
  <header role="banner" id="global-header" class="govuk-header govuk-header--flush  with-proposition dl-header" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="header-proposition">
        <div class="govuk-header__content">
          <a href="https://digital-land.github.io/" class="govuk-header__link govuk-header__link--service-name govuk-header__link--service-name--bold">
        DLUHC Planning Data
        </a>
          <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
          <span class="dl-header__service-name">
            <a href="/" class="govuk-header__link govuk-header__link--service-name">Prototype</a>
          </span>
        </div>
      </div>
    </div>
  </header>

{% endblock header %}

{% block content %}

  <main id="content" role="main">

    <h2 class="govuk-heading-l">Prototype(s)</h2>
    <ul class="govuk-list">
      <li>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
          <a href="{{ url_for('publisher.map', prefix='local-authority-eng', org_id='LBH', dataset='tree') }}" class="govuk-link">View local planning authority datasets</a>
        </h3>
        <p class="govuk-body"></p>
      </li>
    </ul>
  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/static/js/test.js"></script>
{% endblock bodyEnd %}
